body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    color: #333;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 90vh;
  }

  form {
    width: 100%;
    max-width: 400px;
    padding: 20px;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }

  h1 {
    color: #2e51a2;
  }

  .form-floating, .form-control {
    margin-bottom: 15px;
  }

  .form-control {
    border-radius: 5px;
  }

  .form-check-input {
    margin-right: 5px;
  }

  .btn-primary {
    background-color: #2e51a2;
    border: none;
  }

  .btn-primary:hover {
    background-color: #1f3a7e;
  }

  .text-body-secondary {
    color: #888;
  }