<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Create Accommodation</title>
  <base href="/">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="favicon.ico">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">

</head>
<body>
  <form [formGroup]="form" (submit)="submit()">
    <h1 class="h3 mb-3 fw-normal">Add your accommodation</h1>

    <div class="form-floating">
      <input formControlName="name" type="text" class="form-control" id="floatingInput" >
      <label for="floatingInput">Name</label>
    </div>
    <div class="form-floating">
      <input formControlName="location" type="text" class="form-control" id="floatingInput" >
      <label for="floatingInput">Location</label>
    </div> 
    <div class="form-floating">
      <input formControlName="min_guests" type="number" class="form-control" id="floatingPassword" >
      <label for="floatingPassword">Minimal Guests</label>
    </div>
    <div class="form-floating">
      <input formControlName="max_guests" type="number" class="form-control" id="floatingInput" >
      <label for="floatingInput">Maximal Guests</label>
    </div>
    <div class="form-floating">
      <input formControlName="price_per_night" type="number" class="form-control" id="floatingInput">
      <label for="floatingInput">Price Per Night</label>
    </div>
    <div class="form-group">
      <label for="amenities">Amenities</label>
      <div class="row">
        <div class="col-md-6">
          <div class="form-check">
            <input formControlName="wifi" class="form-check-input" type="checkbox" id="wifi" value="wifi" (change)="updateAmenities($event, 'wifi')">
            <label class="form-check-label" for="wifi">
              Wi-Fi
            </label>
          </div>
          <div class="form-check">
            <input formControlName="pool" class="form-check-input" type="checkbox" id="pool" value="pool" (change)="updateAmenities($event, 'pool')">
            <label class="form-check-label" for="pool">
              Pool
            </label>
          </div>
          <div class="form-check">
            <input formControlName="gym" class="form-check-input" type="checkbox" id="gym" value="gym" (change)="updateAmenities($event, 'gym')">
            <label class="form-check-label" for="gym">
              Gym
            </label>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-check">
            <input formControlName="wellness" class="form-check-input" type="checkbox" id="wellness" value="wellness" (change)="updateAmenities($event, 'wellness')">
            <label class="form-check-label" for="wellness">
              Wellness
            </label>
          </div>
          <div class="form-check">
            <input formControlName="restaurant" class="form-check-input" type="checkbox" id="restaurant" value="restaurant" (change)="updateAmenities($event, 'restaurant')">
            <label class="form-check-label" for="restaurant">
              Restaurant
            </label>
          </div>
          <div class="form-check">
            <input formControlName="allInclusive" class="form-check-input" type="checkbox" id="allInclusive" value="allInclusive" (change)="updateAmenities($event, 'allInclusive')">
            <label class="form-check-label" for="allInclusive">
              All Inclusive
            </label>
          </div>
        </div>
      </div>
    </div>
    <br>
    <button class="btn btn-primary w-100 py-2" type="submit">Create</button>
    <p class="mt-5 mb-3 text-body-secondary">© 2017–2023</p>
  </form>
</body>
</html>