body {
  font-family: 'Arial', sans-serif;
  background-color: #f8f9fa;
  margin: 0;
  padding: 0;
}

.login {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-height: 80vh;
  padding: 10px;
}

.bg-image {
  background-image: url('https://i.pinimg.com/564x/e5/14/c2/e514c287d7377157cef50c46db09ab66.jpg');
  background-size: cover;
  background-position: center;
  min-height: 80vh;
  width: 100%;
}

.login-heading {
  font-weight: 300;
  margin-bottom: 10px;
}

.form-container {
  margin-left: 15px;
}

.btn-login {
  font-size: 0.8rem;
  letter-spacing: 0.03rem;
  padding: 8px 24px; 
  background-color: #98ddfd;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.btn-login:hover {
  background-color: #75b9d9;
}

@media (min-width: 992px) {
  .bg-image {
    width: 30%;
  }
}