<header class="navbar navbar-expand-md navbar-light bg-light border-bottom">
  <div class="container">
    <a href="/" class="navbar-brand">
      <svg class="bi" width="40" height="32" role="img" aria-label="Bootstrap">
        <use xlink:href="#bootstrap"></use>
      </svg>
    </a>

    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse justify-content-center" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item"><a href="#" class="nav-link">Home</a></li>
        <li class="nav-item"><a routerLink="accommodations" class="nav-link">Accommodations</a></li>
        <li class="nav-item"><a routerLink="accommodationsCreate" class="nav-link">Create Accommodation</a></li>
        <li class="nav-item"><a routerLink="profile" class="nav-link">Profile</a></li>
      </ul>
    </div>

    <div class="navbar-collapse collapse justify-content-end">
      <ul class="navbar-nav">
        <li class="nav-item" *ngIf="!authed">
          <a routerLink="login" class="nav-link btn btn-outline-primary">Login</a>
        </li>
        <li class="nav-item" *ngIf="!authed">
          <a routerLink="sign-up" class="nav-link btn btn-primary">Sign-up</a>
        </li>
        <li class="nav-item" *ngIf="authed">
          <button type="button" class="nav-link btn btn-outline-primary" (click)="logout()">Logout</button>
        </li>
      </ul>
    </div>
  </div>
</header>
{{message}}