<header
  class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom"
>
  <div class="col-md-3 mb-2 mb-md-0">
    <a href="/" class="d-inline-flex link-body-emphasis text-decoration-none">
      <svg class="bi" width="40" height="32" role="img" aria-label="Bootstrap">
        <use xlink:href="#bootstrap"></use>
      </svg>
    </a>
  </div>

  <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
    <li><a href="#" class="nav-link px-2">Home</a></li>
    <li>
      <a routerLink="accommodations" class="nav-link px-2">Accommodations</a>
    </li>
    <li>
      <a routerLink="accommodationsCreate" class="nav-link px-2"
        >AccommodationsCo</a
      >
    </li>
    <li><a routerLink="userProfile" class="nav-link px-2">Profile</a></li>
  </ul>

  <div class="col-md-3 text-end" *ngIf="!authenticated">
    <a routerLink="login">
      <button type="button" class="btn btn-outline-primary me-2">
        Login
      </button></a
    >
    <a routerLink="sign-up"
      ><button type="button" class="btn btn-primary">Sign-up</button></a
    >
  </div>

  <div class="col-md-3 text-end" *ngIf="authenticated">
    <a routerLink="">
      <button
        type="button"
        class="btn btn-outline-primary me-2"
        (click)="logout()"
      >
        Logout
      </button></a
    >
  </div>
</header>
