.login {
    min-height: 70vh;
  }
  
  .bg-image {
    background-image: url('https://i.pinimg.com/564x/e5/14/c2/e514c287d7377157cef50c46db09ab66.jpg');
    background-size: cover;
    background-position: center;
    min-height: 70vh;
  }
  
  .login-heading {
    font-weight: 300;
  }
  
  .btn-login {
    font-size: 0.9rem;
    letter-spacing: 0.05rem;
    padding: 0.75rem 1rem;
    background-color: #98ddfd;
  }
  
  @media (min-width: 992px) {
    .bg-image {
      width: 40%; /* Adjust the width for larger screens */
    }
}